# Ejemplo 1: Leyendo una tabla desde SQL Server para devolver un DataFrame

In [1]:
import pyodbc
import pandas as pd

In [2]:
conexion = pyodbc.connect(
    'Driver={SQL Server};'
    'Server=DESKTOP-S9566PE\SQLEXPRESS;'
    'Database=TEST;'
    'Trusted_Connection=yes;'
)

In [3]:
consulta_sql = "select * from tipo_cambio"

In [4]:
df = pd.read_sql(consulta_sql, conexion)

In [7]:
# Cinco primeros valores de la tabla
print(df.head())

        fecha   valor
0  2021-10-02  803.90
1  2021-10-06  810.63
2  2021-10-09  820.18
3  2021-10-11  820.18
4  2021-10-13  827.56

In [8]:
# Cierra la conexion
conexion.close()

# Ejemplo 2: Insertando registros a una tabla vacía de SQL Server a partir de la lectura de la misma tabla en Excel (con registros)

In [15]:
ventas = pd.read_excel(r'C:\Users\usuario\Documents\Ventas_comercial.xlsx')

In [16]:
print(ventas.head())

       Fecha  Cantidad       Ventas       Costos
0 2019-01-02        49  1024.311357  1003.511702
1 2019-01-03        58  1027.946886  1003.951546
2 2019-01-04        35  1031.727637  1004.391587
3 2019-01-07        65  1035.657459  1004.831823
4 2019-01-08        95  1039.740208  1005.272257

In [17]:
# Crea la conexion                      
conexion = pyodbc.connect(
    'Driver={SQL Server};'
    'Server=DESKTOP-S9566PE\SQLEXPRESS;'
    'Database=TEST;'
    'Trusted_Connection=yes;'
)

In [18]:
# Crea el cursor
cursor = conexion.cursor()

In [19]:
for i in ventas.index:
    
    valores = tuple(ventas.loc[i]) 
    
    # Guarda el string en la variable consulta
    consulta = "insert into ventas values ('%s', '%s','%s','%s')" % valores
    
    # Valida la instrucción
    cursor.execute(consulta)

In [20]:
# Ejecuta las instrucciones dadas al servidor.
conexion.commit()

In [21]:
# cierra el cursor
cursor.close()

In [22]:
# Cierra la conexion
conexion.close()